<html>
<head>
    <meta charset="UTF-8">
    <title>ERROR! This URL is not valid</title>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Error! This URL is not valid</h1>
    <a href="/" class="btn">Post another url</a>
</body>
</html>