<html>
<head>
    <meta charset="UTF-8">
    <title>URL SHORTENER</title>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>URL SHORTENER</h1>
    
    <form method="post" action="posturl">
        <input type="text" name="url" placeholder="Please, enter a valid URL. ex: http://www.google.com">
        <button type="submit" class="btn">Shorten this urL please !</button>
    </form>
    
</body>
</html>