<html>
<head>
    <meta charset="UTF-8">
    <title>Your short URL</title>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Here is your short URL</h1>
    <a href="<%= url %>"><%= shortURL %></a>
    <a href="/" class="btn">Post another url</a>
    
    
</body>
</html>